@inherits LayoutComponentBase

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">        

<section class="">
    <div class="navbar-container container is-fluid">
        <AccountNavBar />  
    </div>
</section>
<section class="section">    
    <div class="account-page">     
        <article class="content px-4">
            @Body
        </article>
    </div>
</section>