<section class="hero is-small is-link">
    <div class="hero-body has-text-centered">
        <p class="title">Nile News </p>
        <p class="subtitle"> Medium subtitle</p>
        <form class="is-flex has-addons">                
            <input type="text" class="is-medium is-shadowless is-radiusless input" placeholder="Search"/>
            <button type="submit" class="is-medium is-shadowless is-radiusless button"><i class="fas fa-search"></i></button>
        </form>
    </div>
</section>