<aside class="menu">
    <p class="menu-label">General</p>
    <ul class="menu-list">
        <li><a href="/About" class="py-3">About Us</a></li>
        <li><a href="/fetchdata" class="py-3">Fetch Data</a></li>
        <li><a href="/Article/Create" class="py-3">Create Article</a></li>
        <li><a href="/" class="py-3">List Authors</a></li>
        <li><a href="/Department/Index" class="py-3">Departments</a></li>
    </ul>
    <p class="menu-label">ACCOUNT</p>
    <ul class="menu-list">
        <li><a href="/Account/Register" class="py-3">Register</a></li>
        <li><a href="/Account/Login" class="py-3">Login</a></li>
    </ul>   
</aside> 