<span class="mx-0 is-unselectable is-hidden-tablet">
    <button class="navbarToggler button is-small is-link is-light is-flex justify-content-center is-align-items-center" type="button">
        <div class="is-flex is-flex-direction-column mr-2" >
            <div class="barIcon"></div>
            <div class="barIcon"></div>
            <div class="barIcon"></div>
        </div>
        <strong>Side Bar</strong>
    </button>                             
</span>
<br/>
