@page "/Account/Register"
@layout AccountLayout

<PageTitle> Register </PageTitle>

<form class="notification is-flex is-flex-direction-column is-flex-grow-1 is-flex-shrink-1">
    <p class="title is-3 has-text-centered"><strong>Register</strong></p>
    <!-- Email Field -->
    <div class="field mb-4">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email">
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
        </p>
    </div>
    <!-- Password Field -->
    <div class="field mb-4">
        <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <!-- Confirm Password Field -->
    <div class="field mb-4">
        <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Confirm Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <!-- Register Field[btn] -->
    <div class="control register-tale ">
        <button class="btn-login button is-success">Register</button>
        <p>Already have an Account? <a href="/Account/Login" class="has-text-link">Log in</a></p>

    </div>
</form>