@page "/Article/Delete"
@inherits DeleteArticleBase

<PageTitle>@DeleteArticle </PageTitle>

<div class="headerBar is-justify-items-center">
    <h1 class="title-5">@DeleteArticle</h1>
    <a href="" class="is-link go-back-link">    
        <LeftArrowCircle />
        <span class="is-link">Back to index</span>
    </a>
</div>