@page "/Article/Details"
@inherits DetailsArticleBase

<PageTitle>@Details</PageTitle>
<div>
    <h1 class="title-5">@Details</h1>
</div>
<div class="headerBar is-justify-items-center">
    <h1 class="title-5">@Details</h1>
    <a href="" class="is-link go-back-link">    
        <LeftArrowCircle />
        <span class="is-link">Back to index</span>
    </a>
</div>