@page "/Article/Edit"
@inherits EditArticleBase

<PageTitle>@Edit </PageTitle>
<div>
    <h1 class="title-5">@Edit </h1>
    @* <EditForm Model="@Article" OnValidSubmit="">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText @bind-value="Article.Title" />
        <InputTextArea @bind-value="Article.Content" />

        <button type="submit" >Submit</button>
    </EditForm> *@
</div>