@page "/Department/Index"
@inherits IndexBase

<PageTitle>Department</PageTitle>

<div class="headerBar is-justify-items-center">
    <h1 class="title-5">All Departments</h1>
    <a href="" class="is-link go-back-link">    
        <LeftArrowCircle />
        <span class="is-link">Back to index</span>
    </a>
</div>
@if (Departments == null)
{
    <div class="spinner"></div>
}
else
{
    <ul>
        @foreach(var department in Departments)
        {
            <NavLink href='@($"/Department/Details/{department.DepartmentId}")' class="px-2 m-3 button is-primary is-light">
            @department.DepartmentName</NavLink>
        }
    </ul>    
}