@page "/"
@page "/Authors/List"
@inherits IndexBase
<PageTitle>Index</PageTitle>

<div class="headerBar is-justify-items-center">
    <h1 class="title-5">All Authors</h1>    
</div>
@if (Authors == null)
{
    <div class="center">
        <p class="spinner"></p>
    </div>
}
else
{
    <div class="card-deck my-4 is-flex is-flex-wrap-wrap " >
        @foreach(var author in Authors)
        {
            <AuthorCard Author="author" OnAuthorDeleted="AuthorDeleted" />        
        }    
    </div>
}

